h1 {
    letter-spacing: -25px;
}

body {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 150px;
    margin-right: 100px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -5px;
    font-family: helvetica;
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    text-decoration: none;
    color: rgb(2, 73, 57);
}


