
.title {
    font-size: 500px;
    margin-bottom: -100px;
    letter-spacing: -40px;
    color: rgb(0, 37, 0)
}

h2{
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -2px;
    margin-left: 40px;
    margin-right: 40px;
}

body {
    color: rgb(0, 37, 0);
    font-family: Helvetica, sans-serif;
    padding: 30px;
}