
.title {
    font-size: 250px;
    margin-bottom: -30px;
    letter-spacing: -30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: normal;
}

h1 {
    color: rgb(255, 255, 255);
    letter-spacing: -2px;
    font-weight: normal;
}

h2{
    font-weight:lighter;
    font-size: 40px;
    letter-spacing: -2px;
    color: red;
}

body {
    background: rgb(94, 125, 86);
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    padding: 30px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
}

a {
    color: rgb(38, 63, 38);
    text-decoration: none;
}

hr {
    color: red;
}

.why {
    text-align: right;
}