        body {
            font-family: helvetica;
            text-align: center;
            padding: 0;
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: background-color 0.5s ease;
            font-size: 14px;
            font-weight: light;
            color: white;
        }
        .slider-container {
            margin: 20px 0;
            max-width: 1000px;
            min-width: 500px;

        }
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: light;

        }
        input[type="range"] {
            width: 100%;
        }
        #color-display {
            margin-top: 20px;
            font-size: 16px;
        }
        button {
            margin: 10px;
            padding: 8px 16px;
            font-size: 14px;
            cursor: pointer;
            border: solid 1px;
            border-radius: 40px;
            color: white;
            background-color: black;
        }
        h1 {
            transition: color 0.5s ease;
            font-size: 100px;
            margin: 0;
        }
        p {
            margin: 10px 0;
        }