        h1 {
            color: white;
            font-family: helvetica;
            font-size: 50px;
        }
        
        body {
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(15, 30px);
            grid-template-rows: repeat(15, 30px);
            gap: 5px;
            margin-bottom: 20px;
        }
        .circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        #reset {
            padding: 10px 20px;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            border: solid 1px;
            border-radius: 50px;
            cursor: pointer;
            font-size: 16px;
        }