body {
    margin: 0;
}

img {
    max-width:100%;
}

.square {
    
    /* background-color: burlywood;
    width: 200px;
    height: 200px;
    animation-name: test;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.08,.62,.7,.29);
    animation-fill-mode: both; */

    animation: test 4s 2s 1 alternate ease-in-out both;
}

@keyframes test {
    0%  {
        background-color: red;
        width: 200px;
    }
    100% {
        background-color: yellow;
        width: 600px;
    }
}

.container {
    background: #000000;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    background: rgb(255, 255, 255);
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    animation: pulse 2s infinite alternate ease-in-out
}

@keyframes pulse {
    0% {
        background: rgb(72, 118, 72);
        scale: 1.4;
    }
    100%{
        background: green;
        width: 15vw;
        height: 15vw;
    }
}

.hour {
    width: 15vw;
    height: 15vw;
    animation: spin 3600s infinite ease-in; 
}

@keyframes spin {
    0% {
        rotate: 0;
    }
    100%{
        rotate: 45deg;
    }
}

.minute {
    width: 15vw;
    height: 15vw;
    animation: spin 60s infinite ease-in; 
}

@keyframes spin {
    0% {
        rotate: 0;
    }
    100%{
        rotate: 45deg;
    }
}

.second {
    width: 15vw;
    height: 15vw;
    animation: spin 1s infinite ease-in; 
}

@keyframes spin {
    0% {
        rotate: 0;
    }
    100%{
        rotate: 45deg;
    }
}